<div>
	<fieldset>
		<legend><%=l(:"km.title_options")%></legend>
		<p>
	    <label><%=l(:"km.label_show_alert")%></label>
	        <%= check_box_tag 'settings[show_alert]', true, @settings['show_alert'].present? %>
		</p>
	</fieldset>
</div>
<div style="clear: both;"></div>