<div id="knowledge_legend">
  <div><div class="legend main_knowledge"></div><%= l('km.label_main_knowledges') %></div>
  <div><div class="legend other_knowledge"></div><%= l('km.label_other_knowledges') %></div>
</div>